@import "bootstrap/dist/css/bootstrap.min.css";

hr {
  width: 100px; /* Uzunluğu artır */
  height: 5px; /* Kalınlığı artır */
  background-color: #149DDD;
  border: none;
  margin-top: 0px;
  border-radius: 2px; /* Kenarları yuvarlatır */
}

.bg-custom{
  background-color: #040B14;
}
.bg-custom2{
  background-color: #F4FAFD;
}
.bg-custom3{
  background-color: #149DDD;
}
.text-custom{
  color: #149DDD;
}

h1{
  padding-top: 50px;
}

.container-custom{
  padding-left: 17.4%;
  height: 100vh;
}

.panel-container-custom{
  padding-left: 17.4%;
  height: 100vh;
  background-color:#FAFAFA ;
}

@media (max-width: 991px) { 
  .panel-container-custom {
    padding: 15px;
    height: 100vh;
  }
}

@media (max-width: 991px) { 
  .container-custom {
    padding: 15px;
    height: 100vh;
  }
}
