.zoom {
    cursor: pointer;
    left: 40% ;
    top: 46%;
  }

.link {
    cursor: pointer;
    left: 52% ;
    top: 46%;

  }

  /* Kart üzerindeki overlay karanlık zemin ve içeriklerin başlangıç durumu */
.portfolio-card .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
  }
  
  /* Hover olayı ile karanlık zemin ve içerikler görünür olacak */
  .portfolio-card:hover .overlay {
    opacity: 1;
    visibility: visible;
  }
  
  /* İkonlar ve E-Ticaret metni ortalanmış şekilde */
  .overlay .d-flex {
    height: 100%;
  }

  .zoom:hover{
    color: #149DDD !important;
  }
  .link:hover{
    color: #149DDD !important;
  }
.portfolio-btn{
    background-color: rgb(255, 255, 255) !important;
    border-color: white !important;
  }
.portfolio-btn:hover{
    color: #149DDD !important;
  }